name: Build and Upload Fonts

on:
  push:
    branches:
      - main
    paths:
      - "sources/**"
      - ".github/**"
  pull_request:
    branches:
      - main
    paths:
      - "sources/**"
      - ".github/**"
  workflow_dispatch:

permissions:
  contents: write
  packages: read

jobs:
  build-fonts:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.11"]

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          submodules: recursive


      - name: Install Nix
        uses: DeterminateSystems/nix-installer-action@v9
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          extra-conf: |
            experimental-features = nix-command flakes
            accept-flake-config = true

      - name: Cache Nix store
        uses: DeterminateSystems/magic-nix-cache-action@v2

      - name: Build fonts using Nix develop
        run: |
          ./sources/build.sh

      - name: Upload Built Fonts Artifact
        uses: actions/upload-artifact@v4
        with:
          name: Built_Fonts
          path: sources/output
          if-no-files-found: error
          retention-days: 90
          compression-level: 0 # Use 0 for faster upload/download if needed, or 9 for max compression
          overwrite: true
          include-hidden-files: false

      - name: Check fonts using Nix develop
        run: |
          ./sources/scripts/check_fonts.sh "sources/output"

      - name: Upload Font Check Reports Artifact
        uses: actions/upload-artifact@v4
        with:
          name: FontBakery_Reports
          path: sources/output/report.md
          if-no-files-found: error # Keep this to ensure the report was generated

      # Archive the output fonts
      - name: Archive output fonts
        run: |
          mkdir -p sources/output
          find output -maxdepth 1 -type d -print0 | while IFS= read -r -d $'\0' dir; do
            if [ "$dir" != "output" ]; then
              zip -r "sources/output/$(basename "$dir").zip" "$dir"
            fi
          done

      # Create a tag for the release
      - name: Create tag
        id: create_tag
        run: |
          git config user.name github-actions
          git config user.email github-actions@github.com
          TAG_NAME="release-$(date +'%Y%m%d-%H%M%S')"
          echo "TAG_NAME=$TAG_NAME" >> $GITHUB_ENV
          git tag $TAG_NAME
          git push origin $TAG_NAME

      # Create a release and upload fonts
      - name: Create Release
        id: create_release
        uses: softprops/action-gh-release@v1
        with:
          files: sources/output/*.zip
          name: Font Build - ${{ github.sha }}
          body: |
            Fonts generated from commit ${{ github.sha }}.
            Download the .ttf files from the assets below.
          draft: false
          prerelease: false
          token: ${{ secrets.GITHUB_TOKEN }}
          tag_name: ${{ env.TAG_NAME }}
